.App {
  display: grid;
  grid-template-columns: 300px auto;
}
.App::-webkit-scrollbar {
  width: 0;
}
html::-webkit-scrollbar {
  width: 0;
}
[data-scroll] {
  transition: all 0.3s ease;
}
[data-scroll="in"] {
  opacity: 1;
  transform: scale(1);
}
[data-scroll="out"] {
  opacity: 0;
  transform: scale(0);
}
