@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: BN_1;
  src: url("./Assets/Fonts/AdorNoirrit/Unicode/Li\ Ador\ Noirrit\ Unicode.ttf");
}

@font-face {
  font-family: BN_2;
  src: url("./Assets/Fonts/AdorShurobhi/Unicode/Li\ Ador\ Shurobhi\ Unicode.ttf");
}

@font-face {
  font-family: BN_3;
  src: url("./Assets/Fonts/LiakotEkota/Unicode/Li\ Liakot\ Ekota\ Unicode.ttf");
}

@font-face {
  font-family: BN_4;
  src: url("./Assets/Fonts/NiladriRongtuli/Unicode/Li\ Niladri\ Rongtuli\ Unicode.ttf");
}

@font-face {
  font-family: BN_5;
  src: url("./Assets/Fonts/ShamimCholontika/Unicode/Li\ Shamim\ Cholontika\ Unicode.ttf");
}

@font-face {
  font-family: BN_6;
  src: url("./Assets/Fonts/ShohidShafiur/Unicode/Li\ Shohid\ Shafiur\ Unicode.ttf");
}

@font-face {
  font-family: BN_7;
  src: url("./Assets/Fonts/SirajeeSheikh/Unicode/Li\ Sirajee\ Sheikh\ Unicode.ttf");
}

@font-face {
  font-family: BN_8;
  src: url("./Assets/Fonts/ZahirRayhan/Unicode/Li\ Zahir\ Rayhan\ Unicode.ttf");
}
@font-face {
  font-family: BN_9;
  src: url("./Assets/Fonts/RuhulAmin/Unicode/Ruhul\ Amin\ Unicode.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
.preloader {
  width: 100vw;
  height: 100vh;
  background-color: #191919;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
